# App
Port=:3000
SERVER_MODE=false
JWT_SECRET=JWT_SECRET

# Database
DATABASE_HOST=postgreSql
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=smartcontrol
DATABASE_PORT=5432

#MQTT
MQTT_BROKER="MQTT_BROKER"
MQTT_CLIENT_ID="MQTT_CLIENT_ID"
MQTT_USERNAME="MQTT_USERNAME"
MQTT_PASSWORD="MQTT_PASSWORD"
MQTT_SUBSCRIBE_TOPICS="TEST/MQTT,TEST/MQTT"

#default user
EMAIL=HanThamarat@gmail.com
NAME=HanThamarat
USERNAME=HanThamarat
PASSWORD=123456
